### Note: If using relative paths, should be based on the execution path of main python script.
[Model]
USE_QUALITY_SCORES=True
USE_SPARSE_IMPLEMENTATION=False
TIME_VARIANCE_SCALE=1.0
TIME_VARIANCE_SCALE_INITIAL=1.0

# Number of CPU cores to utilize. (Provides some benefit, could be better optimized. Experimental)
NUM_CORES=1

# Cache directory for saved computation.
CACHE_DIR=%(HOME)s/.chronostrain/cache

[PyTorch]
# Device to use torch on. Either `cpu` or `cuda`.
DEVICE=cpu

DEFAULT_DTYPE=float64

[Database]
# CSV or JSON path to Database dir.
DB_CLASS=chronostrain.database.JSONStrainDatabase

# Directory to save all FASTA/Genbank files to.
DATA_DIR=%(HOME)s/.chronostrain/data

[Database.args]
# Arguments to pass to the __init__ method of the database class specified in DB_CLASS.
ENTRIES_FILE=%(HOME)s/.chronostrain/ncbi_refs.json
marker_max_len=500

[Filtering]
# Absolute file path to the aligner executable. (Currently only supporting 'bwa'.)
ALIGNER_CMD=/usr/bin/bwa
