[
    {
        "name": "bacteroides fragilis",
        "markers": [
                    {"type":"tag", "locus_id":"BF9343_0009", "name":"glycosyltransferase"},
                    {"type":"tag", "locus_id":"BF9343_3272", "name":"hydrolase"}
                ],
        "accession": "CR626927.1"
    },
    {
        "name": "bacteriodes thetaiotaomicron",
        "markers": {},
        "accession": "NZ_CP012937.1"
    },
    {
        "name": "escherichia coli nissle 1917",
        "markers": [
            	    {"type":"tag", "locus_id":"ECOLIN_01070", "name":"16S"},
                    {"type": "primer", "forward": "GTGCCAGCMGCCGCGGTAA", "reverse": "GGACTACHVGGGTWTCTAAT", "name": "16S_V4"}
                ],
        "accession": "CP007799.1"
    }
]
